@model FoodHub.Models.Food

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Food</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.restaurant.RName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.restaurant.RName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.veg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.veg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foodCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foodCount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Fid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
