@model IEnumerable<FoodHub.Models.Food>

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-sm-10">
        <h2 class="restName">@ViewBag.restName</h2>
    </div>
    <div class="col">
        <a>@Html.ActionLink("Add +", "Create", routeValues: null, htmlAttributes: new { id = "create", @class = "btn btn-secondary" })</a>
    </div>
</div>
<br />
<table class="table">
    <tr class="table-dark">
        <th>
            Food Name
        </th>
        <th>
            @*@@Html.DisplayNameFor(model => model.price)*@
            Price
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.veg)*@
            Veg/N.Veg
        </th>
        <th>
           @* @Html.DisplayNameFor(model => model.foodCount)*@
            Food Count
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @if (item.veg == "Yes")
                {
                    <span class="badge text-bg-success">⚪</span>
                }
                else
                {
                    <span class="badge text-bg-danger">⚪</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.foodCount)
            </td>
            <td>
                <button class="btn btn-outline-primary"> @Html.ActionLink("Edit", "Edit", new { id = item.Fid }, new { @class = "nav-link" }) </button>
                <button class="btn btn-outline-danger"> @Html.ActionLink("Delete", "Delete", new { id = item.Fid }, new { @class = "nav-link" }) </button>
            </td>
        </tr>
    }

</table>
