@model IEnumerable<FoodHub.Models.FoodOrder>

@{
    ViewBag.Title = "Index";
}


<table class="table">
    <tr>
        <th>
            Customer Name
        </th>
        <th>
            Date - Time
        </th>
        <th>
            Total Price
        </th>
        <th>
            Order Type
        </th>
        <th>
            Payment
        </th>
        <th>
            Order Status
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Token) No
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customer.CName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.paymentStatus)
            </td>
            @if (item.orderStatus == "pending")
            {
                <td><span class="badge bg-primary">Waiting</span></td>
            }
            else if (item.orderStatus == "accepted")
            {
                <td>
                    <span class="badge bg-warning">Accepted</span>
                </td>
            }
            else if (item.orderStatus == "done")
            {
                <td>
                    <span class="badge bg-success">Done</span>
                </td>
            }
            else
            {
                <td>
                    <span class="badge bg-danger">Failed</span>
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Token)@item.Oid
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Oid })
            </td>
        </tr>
    }

</table>
