@model IEnumerable<FoodHub.Models.OrderItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.food.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order.orderType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.food.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order.orderType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.itemId }) |
            @Html.ActionLink("Details", "Details", new { id=item.itemId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.itemId })
        </td>
    </tr>
}

</table>
